/* Carousel.css */

.carousel {
    position:absolute;
    width: 100%;
    overflow: hidden;
   
    
  }
  
  .image-container {
    position: relative;
    background-color: #151a1d;
    border-bottom: solid 6px #0054d1;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    width: 700px; /* Definindo largura fixa */
    height: 400px; /* Definindo altura fixa */
  }
  
  .prev-image,
  .next-image {
    position: absolute;
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
    
  }

  
  .prev-image {
    left: -45%;
  }
  
  .next-image {
    right: -45%;
  }
  
  .carousel:hover .prev-image{
    animation: deslocamentoPrev 1s ease-in-out 1 forwards; 
  }
  .carousel:not(:hover) .prev-image{
    left: -45%;
    animation: retornoPrev 0.7s ease-in-out 1 forwards; 
  }

  .carousel:hover .next-image {
    animation: deslocamentoNext 1s ease-in-out 1 forwards;   }
    
    .carousel:not(:hover) .next-image {
      right: -45%;
      animation: retornoNext 0.7s ease-in-out 1 forwards;   }
      
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  @keyframes deslocamentoNext {
    0% {
        rigth: -45%;
        opacity: 0.25;
    }
    100% {
      opacity: 1;
      right: -35%;
    }
}

@keyframes retornoNext {
  0% {
    right: -35%;
    opacity: 1;
  }
  100% {
   
    opacity: 0.25;
    rigth: -45%;
    
  }
}

@keyframes deslocamentoPrev {
  0% {
    opacity: 0.25;
      left: -45%;
  }
  100% {
    opacity: 1;
    left: -35%;
  }
}
@keyframes retornoPrev {
  0% {
    left: -35%;
    opacity: 1;
  }
  100% {
   
    opacity: 0.25;
    left: -45%;
    
  }
}